.item-card {
  background: rgba(0, 0, 0, 0.35);
  border: 2px solid #fdc500;
  border-radius: 12px;
  padding: 16px;
  text-align: center;
  color: #fdc500;
  box-shadow: 0 0 10px rgba(253, 197, 0, 0.4);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;

}

.item-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(253, 197, 0, 0.7);
}

.item-img-wrapper {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-title {
  margin: 10px 0;
  font-size: 1rem;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-price {
  margin-bottom: 12px;
  font-weight: bold;
}

.ver-detalle {
  color: #fdc500;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.ver-detalle:hover {
  color: #ffffff;
  transform: scale(1.05);
  filter: drop-shadow(0 0 6px #fdc500);
}